/**
 * index.scss
 * - Add any styles you want here!
 */

#page-one {
  background: url("https://images.unsplash.com/photo-1463114680351-75863cab5bf3?ixlib=rb-0.3.5&q=100&fm=jpg&crop=entropy&cs=tinysrgb&s=8760af37406ebf5cc3fefb534d05c69d")no-repeat center center fixed;
  height: 900px; 
  width: 100%;
  background-size: cover;
}
#page-two {
  background: white /* url("https://images.unsplash.com/photo-1458400411386-5ae465c4e57e?dpr=1.5&auto=compress,format&fit=crop&w=1199&h=706&q=80&cs=tinysrgb&crop=&bg=") no-repeat center center fixed */;
  height: 800px;
  width: 100%;
  text-align: justify;
  background-size: cover;
}
#page-three {
  background: url("../res/page-two.jpg") no-repeat center center fixed;
  height: 900px;
  width: 100%;
  background-size: cover;
}
.btn {
  opacity: 0.7;
}
#title-name {
  color: black;
  margin-top: 100px;
  font-family: 'Special Elite' , Monospace;
  font-size: 4.0em;
}
/* .btn {
  font-family: 'Special Elite' , Monospace;
  font-size: 1.0em;
} */
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}
.navbar-default {
    //background-color: transparent;
    border-bottom:transparent;
}
.nav-item:hover {
  background-color: #eceff1;
}
.about-me-h1, .page-two-h1 {
  font-family: 'Special Elite', Monospace;
  
  font-size: 3.0em;
  padding-top: 20px;
}
.about-me-p {
  margin-left: 2%;
  font-size: 1.7em;
  line-height: 2;
  font-family: 'Special Elite', Monospace;
}
.portrait-photo{
  margin-top: -10px;
}
.nav {
  font-family: 'Asar', Monospace;
}
.repo {
  background-color: white;
  margin-top: 10px;
  padding: 30px 100px 100px 100px;
}
body {
  font-family: 'Special Elite', Monospace; 
}