/**
 * index.scss
 * - Add any styles you want here!
 */

#page-one {
  background: url("https://images.unsplash.com/photo-1463114680351-75863cab5bf3?ixlib=rb-0.3.5&q=100&fm=jpg&crop=entropy&cs=tinysrgb&s=8760af37406ebf5cc3fefb534d05c69d")no-repeat center center fixed;
  height: 900px; 
  width: 100%;
  background-size: cover;
}
#page-two {
  background: white /* url("https://images.unsplash.com/photo-1458400411386-5ae465c4e57e?dpr=1.5&auto=compress,format&fit=crop&w=1199&h=706&q=80&cs=tinysrgb&crop=&bg=") no-repeat center center fixed */;
  //padding-bottom: 50px;
  width: 100%;
  text-align: justify;
  background-size: cover;
}
#page-three {
  background: rgb(238, 240, 244);//url("http://1.bp.blogspot.com/-zE2ktjKCt7k/UGMQeiJfnNI/AAAAAAAAAuY/NusU44szrkE/s1600/IMG_3214.JPG") no-repeat center center fixed;
  //height: 1300px;
  padding-right: 0;
  padding-bottom: 50px;
  width: 100%;
  background-size: cover;
}
.button {
  margin-top: 5px;
  padding-top: 5px;
}
.btn {
  opacity: 0.7;
}
#title-name {
  color: black;
  margin-top: 100px;
  font-family: 'Special Elite' , Monospace;
  font-size: 4.0em;
}
/* .btn {
  font-family: 'Special Elite' , Monospace;
  font-size: 1.0em;
} */
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}
.navbar-default {
    //background-color: transparent;
    border-bottom:transparent;
}
.nav-item:hover {
  background-color: #2E2E2E;
}
.about-me-h1, .page-two-h1 {
  font-family: 'Special Elite', Monospace;
  margin-left: 2%;
  font-size: 3.0em;
  padding-top: 20px;
}
.about-me-p {
  margin-left: 2%;
  font-size: 1.7em;
  line-height: 2;
  font-family: 'Special Elite', Monospace;
  border-color: transparent;
}
.portrait-photo{
  margin-top: -10px;
  padding-bottom: 50px;
}
.nav {
  font-family: 'Asar', Monospace;
}
.repo {
  background-color: white;
  margin-top: 10px;
  padding: 30px 100px 100px 100px;
}
.projects{
  font-family: 'Special Elite', Monospace;
}
body {
  font-family: 'Pacifico', Monospace; 
}
.projects {
  font-size: 1.5em;
}
/* .tint {
  position: relative;
  float: center;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}
.img-responsive{
  display: block;
}
.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}
.tint:hover:before{
  background:  url("http://i41.tinypic.com/28h3fwh.png"); 
}
.t1:before { 
  background: none;
}
.t2:before { 
  background: none; 
}
.t3:before { 
  background: none; 
}
.t4:before { 
  background: none; 
}
 */
footer {
    padding-top: 50px ;
}
#page-four {
  font-family: "Source Sans Pro";
}
.keeping-original{
  font-family: 'Pacifico';
}
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}